.loader {
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.loader-wrap {
  width: 360px;
  height: 360px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.loader__icon {
  fill: #bccef8;
}
