.empty-course {
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  margin: 15vw 0vw 0px 1vw;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
